{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Gfetch</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% tailwind_css %}
		<!-- Load htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<style>
			html {
				overflow-y: scroll;
			}
		</style>
	</head>

	<body class="bg-teal-200 font-serif leading-normal tracking-normal min-h-screen flex flex-col">
		<div class="flex-1 container mx-auto px-4 py-8">
			<nav class="bg-indigo-200 border border-indigo-700 p-0 inline-flex overflow-hidden mb-3">
				<div 
					hx-get="/" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center text-indigo-900 flex items-center justify-center cursor-pointer hover:bg-indigo-100 hover:text-black p-4 text-xl"
				>
					<span>Welcome to Gfetch</span>
				</div>
			
				{% comment %} <div class="w-px bg-indigo-700"></div>
			
				<div 
					hx-get="{% url 'about' %}" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center text-indigo-900 items-center justify-center cursor-pointer hover:bg-indigo-100 hover:text-black p-4 text-xl"
				>
					<span>About</span>
				</div> {% endcomment %}
			</nav>
		
			<div id="tab-content" class="flex-1 mt-3">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
		<footer class="p-4 w-full">
			<p class="text-xs text-gray-600">
				© 2025 Jeff Jacobson
			</p>
			<p class="text-xs text-gray-600">
				<a href="https://github.com/jwjacobson/gfetch-site/blob/main/LICENSE" 
				class="text-indigo-500" target="_blank" rel="noopener noreferrer">
				License
				</a>
				|<a
				href="https://github.com/jwjacobson/gfetch-site" 
				class="text-indigo-500" target="_blank" rel="noopener noreferrer">
				Source code 
				</a>
			</p>
			<p class="text-xs text-gray-600">
				Django | htmx | Tailwind CSS 
			</p>
		</footer>
	</body>
</html>
