{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Gfetch</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% tailwind_css %}
		<!-- Load htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<style>
			html {
				overflow-y: scroll;
			}
		</style>
	</head>

	<body class="bg-teal-400 font-sans leading-normal tracking-normal min-h-screen flex flex-col">
		<div class="flex-1 container mx-auto px-4 py-8">
			
			<div id="main-content" class="flex-1 mt-3">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
		<footer class="p-4 ml-8">
			<p class="text-xs">
				© 2025 Jeff Jacobson
			</p>
			<p class="text-xs">
				<a href="https://github.com/jwjacobson/gfetch-site/blob/main/LICENSE" 
				class="text-blue-800 hover:text-indigo-700" target="_blank" rel="noopener noreferrer">
				License
				</a>
				|<a
				href="https://github.com/jwjacobson/gfetch-site" 
				class="text-blue-800 hover:text-indigo-700" target="_blank" rel="noopener noreferrer">
				Source code 
				</a>
			</p>
			<p class="text-xs">
				Django | htmx | Tailwind CSS 
			</p>
		</footer>
	</body>
</html>
