{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Gfetch</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% tailwind_css %}
		<!-- Load htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<style>
			html {
				overflow-y: scroll;
			}
		</style>
	</head>

	<body class="bg-teal-400 font-sans leading-normal tracking-normal min-h-screen flex flex-col">
		<div class="flex-1 container mx-auto px-4 py-8">
			<nav class="bg-slate-300 border border-blue-600 p-0 inline-flex overflow-hidden mb-3">
				<div 
					hx-get="/" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center flex items-center justify-center cursor-pointer hover:bg-slate-200 p-4 text-xl"
				>
					<span>Home</span>
				</div>
			
			    <div class="w-px bg-blue-600"></div>
			
				<div 
					hx-get="{% url 'cli' %}" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center flex items-center justify-center cursor-pointer hover:bg-slate-200 p-4 text-xl"
				>
					<span>CLI</span>
				</div>

				<div class="w-px bg-blue-600"></div>
			
				<div 
					hx-get="{% url 'web' %}" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center flex items-center justify-center cursor-pointer hover:bg-slate-200 p-4 text-xl"
				>
					<span>Web</span>
				</div>

				<div class="w-px bg-blue-600"></div>
			
				<div 
					hx-get="{% url 'blog' %}" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center flex items-center justify-center cursor-pointer hover:bg-slate-200 p-4 text-xl"
				>
					<span>Blog</span>
				</div>
			</nav>
		
			<div id="tab-content" class="flex-1 mt-3">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
		<footer class="p-4 ml-8">
			<p class="text-xs">
				© 2025 Jeff Jacobson
			</p>
			<p class="text-xs">
				<a href="https://github.com/jwjacobson/gfetch-site/blob/main/LICENSE" 
				class="text-blue-800 hover:text-indigo-700" target="_blank" rel="noopener noreferrer">
				License
				</a>
				|<a
				href="https://github.com/jwjacobson/gfetch-site" 
				class="text-blue-800 hover:text-indigo-700" target="_blank" rel="noopener noreferrer">
				Source code 
				</a>
			</p>
			<p class="text-xs">
				Django | htmx | Tailwind CSS 
			</p>
		</footer>
	</body>
</html>
