{% load static %}
<div class="max-w-xl bg-slate-300 border border-blue-600 shadow-lg overflow-hidden p-4">

    <div class="text-left">
        <h1 class="text-3xl font-bold">Gfetch CLI</h1>
        <p class="mt-6 text-l leading-relaxed">
        This is the homepage for the Gfetch project, a suite of apps that help you make local backups of your Gmail emails. 
        </p>

        <p class="mt-4 text-l leading-relaxed">
        Thanks for stopping by and feel free to get in touch!
        </p>

        <div class="mt-8 text-l">
          <div class="flex space-x-4">
            <a href="https://github.com/jwjacobson/gfetch-cli/blob/main/terms_of_service.md" target="_blank" 
                class="text-blue-600 hover:text-indigo-700">
                Terms of Service
            </a>
            <a href="https://github.com/jwjacobson/gfetch-cli/blob/main/privacy_policy.md" target="_blank" 
                class="text-blue-600 hover:text-indigo-700">
                Privacy Policy
            </a>
          </div>
        </div>
    </div>

</div>
