{% load static %}
{% include 'gsite/_navbar.html' %}
<div id="tab-content" class="flex-1 mt-3">
<div class="max-w-xl bg-slate-300 border border-blue-600 shadow-lg overflow-hidden p-4">


    <div class="text-left">
        <h1 class="text-3xl font-bold">Gfetch CLI</h1>
        <div>
            <div class="w-48 lg:w-72 shadow-md border border-blue-600 mt-3">
            <img src="{% static 'images/gfetch-cli.png' %}" alt="A picture of the gfetch-cli menu" class="w-full h-auto">
            </div>
        </div>


        <p class="mt-6 text-l leading-relaxed">
        Download and clean your Gmail emails to your hard drive directly from the command line!
        </p>

        <div class="mt-8 text-l">
          <div class="flex space-x-4">
            <a href="https://pypi.org/project/gfetch/" target="_blank" 
                class="text-blue-600 hover:text-indigo-700">
                PyPI package
            </a>
            <a href="https://github.com/jwjacobson/gfetch-cli/" target="_blank" 
                class="text-blue-600 hover:text-indigo-700">
                Source code
            </a>
          </div>
        </div>
    </div>

</div>
</div>
