{% load static %}
<div class="max-w-xl bg-slate-300 border border-blue-600 shadow-lg overflow-hidden p-4">

    <div class="text-left">
        <h1 class="text-3xl font-bold">Welcome to Gfetch!</h1>
        <p class="mt-6 text-l leading-relaxed">
        This is the homepage for the Gfetch project, a suite of apps that help you make local backups of your Gmail emails. 
        </p>

        <p class="mt-4 text-xl leading-relaxed">
        Thanks for stopping by and feel free to get in touch!
        </p>

        <div class="mt-8 text-xl lg:ml-12">
        <div class="flex space-x-4">
            <a href="https://github.com/jwjacobson" target="_blank" 
                class="text-gray-600 hover:text-indigo-700">
                GitHub
            </a>
            <span class="text-gray-400">|</span>
            <a href="https://linkedin.com/in/jwjacobson" target="_blank" 
                class="text-gray-600 hover:text-indigo-700">
                LinkedIn
            </a>
            <span class="text-gray-400">|</span>
            <a href="https://fosstodon.org/@jeffjacobson" target="_blank" 
                class="text-gray-600 hover:text-indigo-700">
                Fosstodon
            </a>
        </div>
        </div>
    </div>

</div>
