{% load static %}
{% include 'gsite/_navbar.html' %}
<div id="tab-content" class="flex-1 mt-3">
<div class="max-w-xl bg-slate-300 border border-blue-600 shadow-lg overflow-hidden p-4">

    <div class="text-left">
        <h1 class="text-3xl font-bold">Gfetch Web</h1>
        <div>
            <div class="w-48 lg:w-72 shadow-md border border-blue-600 mt-3">
            <img src="{% static 'images/gfetch-web.png' %}" alt="A picture of the gfetch-web interface" class="w-full h-auto">
            </div>
        </div>
        <p class="mt-6 text-l leading-relaxed">
        The same functionality as gfetch-cli, running as a Flask app with Tailwind styling.
        Essentially a web interface for Gfetch.
        </p>

        <div class="mt-5 text-l">
            <a href="https://github.com/jwjacobson/gfetch-web/" target="_blank" 
                class="text-blue-600 hover:text-indigo-700">
                Source Code
            </a>
          </div>
        </div>
    </div>

</div>
</div>
